# Support direct access to TILE-Gx hardware from user space, via the
# gxio library, or from kernel space, via kernel IORPC support.
config TILE_GXIO
	bool
	depends on TILEGX

# Support direct access to the common I/O DMA facility within the
# TILE-Gx mPIPE and Trio hardware from kernel space.
config TILE_GXIO_DMA
	bool
	select TILE_GXIO

# Support direct access to the TILE-Gx mPIPE hardware from kernel space.
config TILE_GXIO_MPIPE
	bool
	select TILE_GXIO
	select TILE_GXIO_DMA

# Support direct access to the TILE-Gx TRIO hardware from kernel space.
config TILE_GXIO_TRIO
	bool
	select TILE_GXIO
	select TILE_GXIO_DMA

# Support direct access to the TILE-Gx USB host hardware from kernel space.
config TILE_GXIO_USB_HOST
	bool
	select TILE_GXIO

# Support direct access to the TILE-Gx UART hardware from kernel space.
config TILE_GXIO_UART
	bool
	select TILE_GXIO

config TILE_GXIO_USB_DEV
	bool "Tilera TILE-Gx USB device hardware support"
	depends on TILEGX
	default n
	select TILE_GXIO
	---help---
	  This option supports direct access to the Tilera TILE-Gx USB device
	  hardware from kernel space.  It is required to enable USB
	  gadget support.  It is not required to allow use of the USB
	  controller in host mode.

config TILE_GXIO_I2CS
	bool "Tilera TILE-Gx I/O I2C slave support"
	depends on TILEGX
	select TILE_GXIO
	---help---
	  This option supports direct access to the Tilera TILE-Gx I2C slave
	  hardware from kernel space.  It is not required in order to use the
	  gxio library to access I2C slave from user space.

config TILE_GXIO_GPIO
	bool "Tilera TILE-Gx GPIO I/O support"
	depends on TILEGX
	default y
	select TILE_GXIO
	---help---
	  This option supports direct access to the Tilera TILE-Gx GPIO
	  hardware from kernel space.  It is not required in order to use the
	  gxio library to access GPIO pins from user space.

config TILE_GXIO_PKA
	bool "Tilera TILE-Gx Public Key Accelerator support"
	depends on TILEGX
	default y
	select TILE_GXIO
	---help---
	  This option supports direct access to the Tilera TILE-Gx PKA hardware
	  from kernel space.

config TILE_GXIO_MICA
	bool "Tilera TILE-Gx Crypto Hardware Acceleration support"
	depends on TILEGX
	default y
	select TILE_GXIO
	---help---
	  This options supports direct access to the crypto acceleration
	  hardware from kernel space.

config TILE_GXIO_GXCR
	bool "Tilera TILE-Gx Crypto library support"
	depends on TILEGX
	default y
	select TILE_GXIO_MICA
	---help---
	  This options supports a mid-level API for access to the
	  Tilera TILE-Gx crypto accelerator engine from kernel space.
